.checklistBadgesBody {
    display: flex;
    gap: 3px;
    align-items: center;
    margin-top: 8px;
    margin-left: 5px;

    background-color: inherit;
    border-radius: 3px;
    padding: 2px 4px;
    width: fit-content;
}

.checklistsCount {
    font-size: 12px;
    // margin-top: 3px;
    // -safari-margin-top: 0px;
}

.completed {
    background-color: #4bce97;
    color: #1d2125;
}