.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.365);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWrapper {
    display: flex;
    justify-content: center;
    width: 60%;
}

.header {
    display: grid;
    justify-content: center;
    padding: 0.2rem 0 0.7rem;
    margin: 0;
    align-items: center;
    grid-template-columns: 32px 1fr 32px;
    grid-row: 1;
}

.modalName {
    margin: 0;
    grid-column: 1 / span 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
}

.closeButton {
    grid-column: 3;
    grid-row: 1;
    border-radius: 3px;
    line-height: 0.1;

    &:hover {
        background-color: gray;
        transition: linear 0.1s all;
    }
}

.modal {
    background-color: #282e32;
    width: 40%;
    display: flex;
    flex-direction: column;
    border: #39424a solid 1px;
    border-radius: 8px;
    box-shadow: var(--ds-shadow-overlay, 0px 8px 12px #091e4226, 0px 0px 1px #091e424f);
    padding: 10px 10px;
    color: #9fadbc;
}

.createBoardImg {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 80%;
    }
}

.workspaceNameInputWrapper {
    display: flex;
    flex-direction: column;
}

.workspaceNameInputTitle {
    margin-block-end: 0.5em;
}

.workspaceNameInput {
    padding: 6px 10px;
    margin: 0;
    color: var(--ds-text, #172b4d);
    color: #9fadbc;
    border-radius: 3px;
    border: 1px solid #969696;
}

.submitButton {
    background-color: #31393f;
    padding: 0.8rem;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0.7rem;

    &:enabled {
        color: #9fadbc;

        &:hover {
            background-color: #384148;
            transition: all 0.1s linear;
        }
    }

    &:disabled {
        cursor: not-allowed;
        color: #4e565e;
    }
}